# your telegram bot token
export BOT_TOKEN="hdoznfidvyfnfischsizbiajefb"

# your telegram chatroom's id
# in bot api
export CHAT_ID="72769420"

# your local kernel dir
export KDIR=kernel

# your kernel's git repo
kernel_repo="https://github.com/TelegramAt25/empty_kernel_xiaomi_blossom"

# the branch you want to use in the repo above
kernel_branch="enanan"

# build mode / KernelSU patching
# ""      = no KernelSU
# "debug" = no KernelSU + enable pstore/ramoops/MTK AEE debug config
# "both"  = build non-KSU and then KSU
# "sus"   = KernelSU + SuSFS
# anything else = KernelSU
# KernelSU modes require matching patches in ./ksu/patches
export PATCH_KSU=""

# the compiler(s) to use
# those are the name of the scripts in ./toolchains, without ".sh"
export COMPILERS="AOSP-Clang-11"

# additional verbose info
#VERBOSE=yes
